@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$box-shadow-one: 0px 5px 10px rgba(0,0,0,0.3);
$box-shadow-two: 0px 10px 40px rgba(0,0,0,0.5);

$button-bg-one: linear-gradient(50deg,#000428, #004e92);
$button-bg-two: linear-gradient(50deg, #004e92, #000428);

$main-bg: linear-gradient(60deg, #c4e0e5, #4ca1af);

$bg-one: linear-gradient(25deg,#26a9b3, #5b86e5);
$bg-two: linear-gradient(25deg, #b06ab3, #4568dc);
$bg-three: linear-gradient(25deg, #dd2476, #ff512f);


$bg-p: linear-gradient(60deg, #5DA7DB,#81C6E8 );




@mixin displayCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: uppercase;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}

//codigo header

header{
    justify-content: start;
    display: flex;
    height: 200px;
    width: 100%;
    background-image: url(../assets/img/fondonav.jpg);
    background-size: cover;
    background-position: center center;
    padding: 40px;
    text-transform: uppercase;




  
    .navbar-nav{
        position: relative;
        z-index: 1;
        background-color: #f1f1f1;
        
        

    .nav-item{
   
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
        
        
        

    }
}
}

//codigo main

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background: $main-bg;
    
    

    //mapas

    .contenedor_ubi{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 4rem;
        padding: 2rem;
        margin: 0 auto;
        width: 98%;
       


        .mapa{
            width:100%;
            height: 450px ;
        }
        
        
        .ubicaciones{
            
            width: 100%;
            height: 600px;
        }

       .info{
        
      background:$bg-p ;
      width: 100%;
      border-radius: 5px;
      color: #000428;
      box-shadow: $box-shadow-one;
      margin-top: 5px;
      overflow: hidden;
     

     


        h4{
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        p{
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
        }
       

        
       }
  

    }


    //tarjetas nosotros

    .contenedor_nosotros{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 3rem;
        padding: 2rem;
        margin: 0 auto;
        width: 95%;
       
       

        .card_nosotros{
            width: 100%;
          
            border-radius: 5px;
            overflow: hidden;
            background: #ccc;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            cursor: default;
            transition:all 400ms ease;
            font-size: 18px;

            .contenido{
                padding: 15px;
                text-align: center;
                line-height: 1.5;
                color: #6a6a6a;
                 
                h3{
                    font-size: 25px;
                    font-weight: bold;
                }
            }

             img{
                width: 100%;
                height: 100%;
            }

            &:hover{
                box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
                transform: translateY(-3%);
            }

        }
    }

    //formulario de contacto
    
   .formulario{
    margin: auto;
    background-color: #6096ba;
    padding: 30px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;


    .control{
        width: 100%;
        background-color: #A3CEF1;
        padding: 10px;
        border-radius: 5px;
    }

    .boton{
        padding: 10px;
        border-radius: 5px;
        background-color: #A3CEF1;

        &:hover{
            box-shadow: $box-shadow-one;
        }
    }
   }
    //tarjetas servicios

    .contenedor_card{
        background: $main-bg;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;

        .tarjeta{
            width: 70%;
            height: 550px;
            background: #59C1BD;
            border-radius: 10px;
            margin: auto;
            box-shadow: $box-shadow-one;
            font-size: 20px;

            &:hover{
                box-shadow: $box-shadow-two;
                cursor: pointer;
            }

            .precio{
                @include displayCenter();
                padding: 10px 0;
                color: #ccc;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                 text-align: center;
                h3{
                    font-size: 4rem;
                }

                h2{
                    font-size:6rem ;
                    font-weight: bold;
                }
                p{
                    font-size: 18px;
                }

                .boton_tarjeta{
                    background: $button-bg-one;
                    color: #ccc;
                    padding: 10px 25px;
                    text-decoration: none;
                    margin-top: 25px;
                    border-radius: 5px;
                    box-shadow: $box-shadow-two;

                    &:hover{
                        background: $button-bg-two;
                    }

                }
            }
            .primera{
                background: $bg-one;
            }
            .segunda{
                background: $bg-two;
            }
            .tercera{
                background:$bg-three;
            }
            .modos_pagos{
                @include displayCenter();
                padding: 30px 0;
                font-size: 20px;
                
                ul{
                    list-style: none;

                    li{
                        line-height: 2;
                        span{
                            color: orangered;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

    }

    //medias

    @media only screen and (min-width: 575px) and (max-width: 1024px){
  
        header .navbar-nav .nav-item {
            z-index: 100;
            back
        }
        
    
 
        
    }

    @media screen and  (min-width: 700px) {

        .contenedor_card{
            height: 100%;
            grid-template-columns: repeat(1,1fr) !important;

            .tarjeta{
                height: 100%;
            }
        }
    }
    @media  screen and (max-width: 1076px) {
        .contenedor_card{
            padding: 15px;
            height: 100%;
            grid-template-columns: repeat(2,1fr);

            .tarjeta{
                height: 100%;
            }
        }
    }


    @media  screen and (min-width: 1200px) {

        .contenedor_nosotros{
            grid-template-columns: repeat(2,1fr);
        }
        .contenedor_ubi{
        
            grid-template-columns: repeat(2,1fr);

 
        }
     
    }

    //carrusel de imagenes

    .carrusel{

        font-size: 25px;


        img{
            padding: 40px;
            border-radius: 8px;
        }

        h5{
            font-size: 50px;
            color: rgb(6, 6, 6);
           
        }
        a{
            text-decoration: none;
            color: #012726;

          
        }
    }
}


//codigo footer

#footer{
    height: auto;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    

    .footer_contenedor{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;

        

            i:hover{
                color: #00ff00;
                cursor: pointer;
            }
        .logo_contenedor, .info, .letter{
            display: flex;
            justify-content: center;
            margin: 1rem 3rem;
            color: #fff;
            flex: 1 0 25rem;
            flex-flow: column wrap;

        }
        .logo_contenedor{
            text-align: center;

            .iconos{
                i{
                   font-size: 3.5rem;
                    margin: 2rem;
                    
                    
                }
            }
            .logo{

                h1{
                    font-size: 6rem;
                }
            }
        }
        .info{
            i{
            margin:0 2rem;
            font-size: 3rem;
            padding: 1rem;

            &::after{
                content: attr(data-text);
                font-size: 2.8rem;
                margin:0 2rem;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                }
            }
        }
        .letter{

            .input_footer{
                width: 100%;
                
            }
            h1{
                margin: 1rem 0;
                font-size: 3.5rem;
            }
            p{
                margin: .5rem 0;
                font-size: 2rem;
            }
            input[type="email"]{
                outline: none;
                border: none;
                padding:0 1rem ;
                height: 4rem;
                background:#f5f5f5;
                color: rgb(7, 7, 7);
                font-size: 2rem;
                width: 65%;
            }
            input[type="submit"]{
                outline: none;
                border: none;
                height: 3rem;
                width: 8rem;
                background: #00ff00;
                color: #fff;
                margin: 2rem;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;

                &:hover{
                    background: rgba(255,255,255,.2);
                }

            }
        }
    }
    .text{
        width: 100%;

        h1{
            font-size: 1.2rem;
            padding:1rem 0;
            text-align: center;
            color: #ccc;
        }
    }
}

